.Rain,
.Drizzle,
.Showers,
.Light_Rain,
.Light_Drizzle,
.Light_Showers,
.Heavy_Rain,
.Heavy_Drizzle,
.Heavy_Showers,
.Light_Freezing_Rain,
.Light_Freezing_Drizzle,
.Freezing_Rain,
.Freezing_Drizzle {
  background-color: $background-color;
  background-image: url("../../dist/img/rain.jpg");
  background-position: center;
}

.Snow,
.Light_Snow_Showers,
.Snow_Showers,
.Light_Snow,
.Heavy_Snow,
.Snow_Grains {
  background-color: $background-color;
  background-image: url("../../dist/img/snow.jpg");
  background-position: left;
}

.night {
  background-color: $night-color;
  background-image: url("../../dist/img/night.jpg");
}

.Foggy,
.Rime_Fog {
  background-color: $fog-color;
  background-image: url("../../dist/img/fog.jpg");
  background-position: center;
}

.Cloudy,
.Partly_Cloudy {
  background-color: $background-color;
  background-image: url("../../dist/img/Cloudy.jpg");
  background-position: center;
}

.Sunny,
.Mainly_Sunny {
  background-color: $background-color;
  background-image: url("../../dist/img/Sunny.jpg");
  background-position: right;
}

.Clear,
.Mainly_Clear {
  background-color: $background-color;
  background-image: url("../../dist/img/Clear_Sky.jpg");
  background-position: center;
}

.Thunderstorm,
.Light_Thunderstorms_With_Hail,
.Thunderstorm_With_Hail {
  background-color: $background-color;
  background-image: url("../../dist/img/thunderstorm.jpg");
  background-position: left;
}
