.Rain {
  background-color: $background-color;
  background-image: url("../../dist/img/rain.jpg");
  background-position: center;
}

.Drizzle {
  background-color: $background-color;
  background-image: url("../../dist/img/rain.jpg");
  background-position: center;
}

.Showers {
  background-color: $background-color;
  background-image: url("../../dist/img/rain.jpg");
  background-position: center;
}

.Light_Rain {
  background-color: $background-color;
  background-image: url("../../dist/img/rain.jpg");
  background-position: center;
}

.Light_Drizzle {
  background-color: $background-color;
  background-image: url("../../dist/img/rain.jpg");
  background-position: center;
}

.Light_Showers {
  background-color: $background-color;
  background-image: url("../../dist/img/rain.jpg");
  background-position: center;
}

.Heavy_Rain {
  background-color: $background-color;
  background-image: url("../../dist/img/rain.jpg");
  background-position: center;
}

.Heavy_Drizzle {
  background-color: $background-color;
  background-image: url("../../dist/img/rain.jpg");
  background-position: center;
}

.Heavy_Showers {
  background-color: $background-color;
  background-image: url("../../dist/img/rain.jpg");
  background-position: center;
}

.Light_Freezing_Rain {
  background-color: $background-color;
  background-image: url("../../dist/img/rain.jpg");
  background-position: center;
}

.Light_Freezing_Drizzle {
  background-color: $background-color;
  background-image: url("../../dist/img/rain.jpg");
  background-position: center;
}

.Light_Snow_Showers {
  background-color: $background-color;
  background-image: url("../../dist/img/snow.jpg");
  background-position: left;
}

.Freezing_Rain {
  background-color: $background-color;
  background-image: url("../../dist/img/rain.jpg");
  background-position: center;
}

.Freezing_Drizzle {
  background-color: $background-color;
  background-image: url("../../dist/img/rain.jpg");
  background-position: center;
}

.Snow {
  background-color: $background-color;
  background-image: url("../../dist/img/snow.jpg");
  background-position: left;
}

.Snow_Showers {
  background-color: $background-color;
  background-image: url("../../dist/img/snow.jpg");
  background-position: left;
}

.Light_Snow {
  background-color: $background-color;
  background-image: url("../../dist/img/snow.jpg");
  background-position: left;
}

.Heavy_Snow {
  background-color: $background-color;
  background-image: url("../../dist/img/snow.jpg");
  background-position: left;
}
.Snow_Grains {
  background-color: $background-color;
  background-image: url("../../dist/img/snow.jpg");
  background-position: left;
}

.night {
  background-color: $night-color;
  background-image: url("../../dist/img/night.jpg");
}

.Foggy {
  background-color: $fog-color;
  background-image: url("../../dist/img/fog.jpg");
  background-position: center;
}

.Rime_Fog {
  background-color: $fog-color;
  background-image: url("../../dist/img/fog.jpg");
  background-position: center;
}

.Cloudy {
  background-color: $background-color;
  background-image: url("../../dist/img/Cloudy.jpg");
  background-position: center;
}

.Partly_Cloudy {
  background-color: $background-color;
  background-image: url("../../dist/img/Cloudy.jpg");
  background-position: center;
}

.Sunny {
  background-color: $background-color;
  background-image: url("../../dist/img/Sunny.jpg");
  background-position: right;
}

.Mainly_Sunny {
  background-color: $background-color;
  background-image: url("../../dist/img/Sunny.jpg");
  background-position: right;
}

.Clear {
  background-color: $background-color;
  background-image: url("../../dist/img/Clear_Sky.jpg");
  background-position: center;
}

.Mainly_Clear {
  background-color: $background-color;
  background-image: url("../../dist/img/Clear_Sky.jpg");
  background-position: center;
}

.Thunderstorm {
  background-color: $background-color;
  background-image: url("../../dist/img/thunderstorm.jpg");
  background-position: left;
}

.Light_Thunderstorms_With_Hail {
  background-color: $background-color;
  background-image: url("../../dist/img/thunderstorm.jpg");
  background-position: left;
}

.Thunderstorm_With_Hail {
  background-color: $background-color;
  background-image: url("../../dist/img/thunderstorm.jpg");
  background-position: left;
}
